# ASP.NET Core
# Build and test ASP.NET Core projects targeting .NET Core.
# Add steps that run tests, create a NuGet package, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/dotnet-core

trigger:
- master

pool:
  demands:
  - myCustomCapability

variables:
  buildConfiguration: 'Release'

stages:
  - stage: build
    jobs:
    - job: build  
      steps:
        - task: DotNetCoreCLI@2
          inputs:
            command: 'build'
            projects: 'Source/SmartHotel360.Website/SmartHotel360.Website.csproj'
  - stage: test
    jobs:
    - job: test1  
      steps:
        - bash: echo "Executing Test set 1"
    - job: test2
      steps:
        - bash: echo "Executing Test set 2"
  - stage: publish
    jobs:
    - job: publish
      steps:
        - task: PublishBuildArtifacts@1
          inputs:
            PathtoPublish: '$(Build.ArtifactStagingDirectory)'
            ArtifactName: 'webApp'
            publishLocation: 'Container'

